:root{
  --bg-color: #242424;
  --primary-bg-color: #00bce3;
  --active-color:#540074;
  --button-color: #e0cd25;
  --progress-bar-bg: #006176;
  --progress-bar-fill: var(--primary-bg-color);

}
body{
  background-color: var(--bg-color);
}
